.btn {
  background: none;
  border: solid var(--primary-dark);
  border-radius: var(--radius-md, 0.25rem);
  border-width: 0.125rem;
  box-shadow: 0.125rem 0.125rem var(--primary-dark);
  font-size: 2rem;
  padding: 0.125rem;
  position: relative;
}

.btn,
.btn:hover,
.btn:visited {
  color: var(--primary);
  text-decoration: none;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  background-color: var(--primary-bg-dark);
  border-width: 0.125rem;
  box-shadow: none;
  top: 0.25rem;
}
