.set {
  --set-item-size: 5.5rem;

  border: 1px solid var(--black);
  border-radius: var(--radius-md, 6px);
  position: relative;
  width: fit-content;

  &:hover:not(.completed) {
    background-color: var(--background-darker);
  }

  &:active:not(.completed) {
    background-color: var(--background-dark);
  }
}

.set > a,
.set > button {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  border-radius: inherit;
  color: var(--text);
  cursor: pointer;
  height: var(--set-item-size);
  font-size: 1rem;
}

.set > a > span:not(.completed-icon),
.set > button > span:not(.completed-icon) {
  font-size: 1.5rem;
}

.completed {
  border-color: var(--primary-dark);
}

.completed > button {
  background-color: var(--primary-container-low);
  border: none;
  color: var(--primary-dark);

  &:hover {
    background-color: var(--primary-container);
  }

  &:active {
    background-color: var(--primary-container-dark);
  }
}

.completed-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-container);
  border: solid var(--primary-dark);
  border-width: 0 0 1px 1px;
  border-radius: 0 var(--radius-md, 6px) 0 var(--radius-md, 6px);
  padding: var(--space-xs);
}

.popover-heading {
  color: var(--primary-darker);
  margin: 0;
  text-align: center;

  & ~ a {
    width: 100%;
  }
}
