.footer {
  background-color: var(--primary-container-low);
  position: sticky;
  bottom: 0;
  left: 0;

  border-top: 0.125rem solid var(--primary-darker);
  width: 100%;
  font-size: 2rem;
}

.footer > nav {
  height: 100%;
  padding-block: 0.25rem;
}

.footer > nav > ol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  padding: 0;
}

.apple-pwa {
  padding-block-end: var(--apple-pwa-pd, 1.25rem);
}
