.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: var(--background-darker);
  border-top: 0.125rem solid var(--black);
  font-size: 2rem;
  width: 100%;

  & > nav {
    height: 100%;
    padding-block: 0.25rem;

    & > ol {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      height: 100%;
      padding: 0;
    }
  }
}

.apple-pwa {
  padding-block-end: var(--apple-pwa-pd, 1.25rem);
}
