.img-msg-container {
  text-align: center;
  animation: var(--animation-fadein);
}

.img {
  height: var(--img-size);
  margin-block: 1rem;
  width: auto;
  margin-inline: auto;
}

.msg {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.msg > span {
  background-color: var(--primary-container);
  border-radius: 0.5em;
  color: var(--primary);
  font-weight: bold;
  padding-inline: 0.5em;
  padding-block: 0em 0.125em;
}

.btn {
  font-size: 1.5rem;
  margin-block: auto 0.5rem;
  width: 100%;
}
