.progress {
  --progress-rad: 2px;
  --progress-bw: 1px;

  border: var(--progress-bw) solid var(--black);
  border-radius: var(--progress-rad);
  height: 0.5rem;
  margin-block-start: var(--space-sm);
  width: 50%;
}

.progress::-moz-progress-bar {
  background-color: transparent;
  border-radius: var(--progress-rad);
}

.progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: var(--progress-rad);
}
.progress::-webkit-progress-value {
  background-color: var(--secondary);
  border-radius: calc(var(--progress-rad) - var(--progress-bw));
}

.completed::-webkit-progress-value {
  background-color: var(--primary);
}
