.footer {
  background-color: var(--secondary-container);
  position: sticky;
  bottom: 0;
  left: 0;
  height: 3.75rem;
  border-top: 0.125rem solid var(--secondary-dark);
  width: 100%;
  font-size: 2rem;
}

.footer > nav {
  height: 100%;
}

.footer > nav > ol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  padding: 0;
}

.footer > nav > ol > li {
  height: 100%;
  width: 50%;
}

.footer > nav > ol > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
}

.footer > nav > ol > li > a,
.footer > nav > ol > li > a:visited {
  color: var(--secondary-dark);
}

.footer > nav > ol > li > a,
.footer > nav > ol > li > a:hover,
.footer > nav > ol > li > a:focus,
.footer > nav > ol > li > a:active {
  text-decoration: none;
}

.footer > nav > ol > li > a:hover {
  background-color: var(--secondary-container-low);
}

.footer > nav > ol > li > a:active {
  background-color: var(--secondary-container-dark);
}

.footer > nav > ol > li > a > span {
  padding: 0.25rem;
}

.active > a > span,
.active > a:visited > span {
  color: var(--tertiary);
}

.active > a > span {
  border: 2px solid var(--tertiary);
  border-radius: 0.375rem;
}
