.btn {
  background: none;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 8rem;
  padding: 0.5rem;
  position: relative;
  width: 8rem;
}

.btn.repeat {
  color: var(--orange);
  border-color: var(--orange);
  box-shadow: 0rem 0.25rem var(--orange);
}

.btn.repeat:active {
  background-color: var(--orange-bg);
}

.btn.learned {
  color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0rem 0.25rem var(--primary);
}

.btn.learned:active {
  background-color: var(--primary-bg);
}

.btn:active {
  box-shadow: none;
  top: 0.25rem;
}
