.btn {
  aspect-ratio: 1 /1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.5rem;
  white-space: wrap;
  width: min(35dvw, 12rem);
}

.btn svg {
  font-size: 2.25rem;
}

.btn.repeat {
  color: var(--tertiary);
  border-color: var(--tertiary);
  box-shadow: 0.125rem 0.125rem var(--tertiary);
}

.btn.repeat:active {
  background-color: var(--tertiary-container-low);
}

.btn.learned {
  box-shadow: 0.125rem 0.125rem var(--primary-darker);
}

.btn.learned:active {
  background-color: var(--primary-container-low);
}

.btn:active {
  box-shadow: none;
}
