.link,
.link:visited {
  color: var(--primary-darker);
  white-space: normal;
  user-select: none;
}

.link,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
}

/* Link overlay  */
.link {
  position: initial;
}

.link::before {
  content: '';
  cursor: inherit;
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}
