:where(.link),
:where(.link):where(:visited) {
  color: var(--primary-darker);
  white-space: normal;
  user-select: none;
}

:where(.link),
:where(.link):hover,
:where(.link):focus,
:where(.link):active {
  text-decoration: none;
}

/* Link overlay  */
:where(.link) {
  position: initial;
}

:where(.link)::before {
  content: '';
  cursor: inherit;
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}
