.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 100%;
  margin-inline: auto;
  max-width: 740px;
  text-align: center;
}

.section > .counter {
  align-self: flex-end;
  color: var(--primary);
  cursor: default;
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
