.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
  animation: var(--animation-fadein);
}

.section > .counter {
  align-self: flex-end;
  color: var(--primary);
  cursor: default;
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
