.container {
  border-radius: var(--radius-md, 0.25rem);
  box-shadow: var(--elevation-1);
  margin-bottom: 0.75rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem 1.375rem;
}

.container > img {
  border-radius: 2px;
  height: min(30dvh, 480px);
  width: auto;
}

.m {
  background-color: var(--masculine-color);
}

.f {
  background-color: var(--feminine-color);
}

.n {
  background-color: var(--neutral-color);
}
