:root {
  --bg-color: hsl(55, 100%, 96%);
  --primary: hsl(255, 50%, 40%);
  --primary-dark: hsl(255, 50%, 33%);
  --primary-bg: hsl(255, 35%, 95%);
  --primary-bg-dark: hsl(255, 35%, 85%);
  --black: hsl(45, 26%, 15%);
  --green: hsl(119, 58%, 40%);
  --green-bg: hsl(137, 38%, 91%);
  --orange: hsl(24, 70%, 50%);
  --orange-bg: hsl(24, 80%, 96%);
  --white: hsl(60, 100%, 98%);
  --masculine-color: var(--primary, hsl(255, 58%, 40%));
  --neutral-color: hsl(43, 100%, 44%);
  --feminine-color: hsl(352, 60%, 47%);

  --elevation-1: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);

  --radius-md: 0.25rem;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  vertical-align: baseline;
}

body {
  background-color: var(--primary-bg);
  color: var(--black);
  font: inherit;
  font-size: 100%;
  font-family: 'Alata', 'Segoe UI', Segoe, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  height: 100dvh;
  max-height: 100dvh;
  max-width: 100dvw;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

main {
  height: calc(100dvh - 3.75rem);
  overflow-y: scroll;
  padding: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  height: 1em;
  width: auto;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
