.unit {
  --shadow-size: 0.125rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: solid var(--black);
  border-radius: var(--radius-md, 0.25rem);
  border-width: var(--shadow-size);
  box-shadow: var(--shadow-size) var(--shadow-size) var(--black);
  color: var(--black);
  cursor: pointer;
  padding: 1.5rem 0.875rem 1.5rem 1.5rem;
  position: relative;
  width: 100%;
  z-index: 0;
}

.unit:hover img,
.unit:active img {
  opacity: 0.85;
}

.unit:hover:not(.completed) {
  background-color: var(--background-darker);
}

.unit:active {
  box-shadow: none;
  top: calc(2 * var(--shadow-size));
}

.unit:active:not(.completed) {
  background-color: var(--background-dark);
}

.unit.completed:hover {
  background-color: var(--primary-container);
}

.unit.completed:active {
  background-color: var(--primary-container-dark);
}

.completed {
  background-color: var(--primary-container-low);
  border-color: var(--primary-dark);
  box-shadow: var(--shadow-size) var(--shadow-size) var(--primary-dark);
}

.completed,
.completed h2 {
  color: var(--on-primary-container);
}

.completed img {
  filter: opacity(0.8) drop-shadow(0 0 0 var(--primary));
}
