.article {
  animation: fadein ease-in 0.3s;
}

.article:not(:first-of-type) {
  margin-block-start: 1rem;
}

.article > h2 {
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: bold;
  margin-block: 0 0.125rem;
  margin-inline-start: 0.75rem;
  width: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.875rem;
  list-style: none;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
