.completed {
  --completed-primary: var(--secondary-dark);

  background-color: var(--secondary-container-low);
  border-color: var(--completed-primary);
  box-shadow: 0.125rem 0.125rem var(--completed-primary);
}

.completed:active {
  background-color: var(--secondary-container);
  box-shadow: none;
}

.completed > a,
.completed > a:visited,
.completed > span {
  color: var(--completed-primary);
}
