.container {
  display: flex;
  align-items: center;
  font-size: min(2.75rem, 5.5vmax);
  gap: 0.5rem;
  text-align: center;
}

.container > p:first-of-type {
  line-height: 1.125em;
}

.m,
.n,
.f {
  font-size: 1.75rem;
  line-height: 1em;
}

.m {
  color: var(--masculine-color);
}

.f {
  color: var(--feminine-color);
}

.n {
  color: var(--neutral-color);
}
