:where(.btn) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: none;
  border-style: solid;
  border-radius: var(--radius-sm, 0.25rem);
  border-width: 0.125rem;
  cursor: pointer;
  height: fit-content;
  font-size: 1.25rem;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: fit-content;
}

:where(.btn),
:where(.btn):hover,
:where(.btn):visited {
  text-decoration: none;
}

:where(.btn):hover:not(:disabled) {
  opacity: 0.88;
}

:where(.btn):active:not(:disabled) {
  border-width: 0.125rem;
  box-shadow: none;
  top: 0.25rem;
}

:where(.btn):disabled {
  border-color: var(--neutral);
  box-shadow: 0.0625rem 0.0625rem var(--neutral);
  color: var(--neutral);
  opacity: 0.7;
  background-color: none;
}

:where(.btn) > svg {
  margin: auto;
}

:where(.primary) {
  border-color: var(--primary);
  box-shadow: 0.0625rem 0.0625rem var(--primary);
}

:where(.primary),
:where(.primary):hover,
:where(.primary):visited {
  color: var(--primary);
}

:where(.primary):active:not(:disabled) {
  background-color: var(--primary-container);
}

:where(.secondary) {
  border-color: var(--secondary-darker);
  box-shadow: 0.0625rem 0.0625rem var(--secondary-darker);
}

:where(.secondary),
:where(.secondary):hover,
:where(.secondary):visited {
  color: var(--secondary-darker);
}

:where(.secondary):active:not(:disabled) {
  background-color: var(--secondary-container-low);
}

:where(.green) {
  border-color: var(--green);
  box-shadow: 0.0625rem 0.0625rem var(--green);
}

:where(.green),
:where(.green):hover,
:where(.green):visited {
  color: var(--green);
}

:where(.base) {
  border-color: var(--black);
  box-shadow: 0.0625rem 0.0625rem var(--black);
}

:where(.base),
:where(.base):hover,
:where(.base):visited {
  color: var(--black);
}

:where(.green):active:not(:disabled) {
  background-color: var(--green-container-low);
}

:where(.fade) {
  animation: var(--animation-fadein);
}

:where(.btn):focus-visible {
  border-color: inherit;
  outline-offset: 4px;
  outline: 4px solid var(--primary-container-dark);
}
