/* .container {
  margin-block: 0.75rem;
  width: 100%;
}

.sentence {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--space-sm, 0.25rem);
  background-color: var(--primary-container-low);
  border: solid var(--primary-darker);
  border-radius: var(--radius-sm, 0.25rem);
  border-width: 0.125rem;
  color: var(--on-primary-container);
  margin-block-end: var(--space-sm, 0.25rem);
}

.sentence > p {
  padding: var(--space-md, 0.5rem) var(--space-lg, 1rem);
}

.translation {
  font-style: italic;
  opacity: 0.88;
  text-align: end;
}

.audio-btn {
  aspect-ratio: 1/1;
  font-size: 1.375em;
  padding-inline: var(--space-md, 0.5rem);
}

.audio-btn:active {
  background: none;
}

.audio-btn ~ p {
  padding-inline-start: 0rem;
} */
