.nav {
  margin-block-end: 0.875rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.125rem solid var(--primary-dark);
  border-radius: var(--radius-md, 0.25rem);
  border-width: 0.125rem;
  color: var(--on-primary);
  list-style-type: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.container > li {
  position: relative;
  text-align: center;
  width: 50%;
}

.item {
  display: block;
  padding-block: 0.375rem 0.5rem;
}

.current {
  background-color: var(--primary-darker);
  color: var(--on-primary);
}
