:where(.skeleton) {
  --pui-skeleton-base-color: hsl(255, 14%, 88%);
  --pui-skeleton-wave-start-color: hsl(210, 14%, 97%);
  --pui-skeleton-wave-middle-color: hsl(231, 18%, 90%);

  background-color: var(--pui-skeleton-base-color);
  cursor: progress;
  height: 1em;
  width: 100%;
  overflow: hidden;
}

:where(.skeleton) * {
  visibility: hidden;
  opacity: 0;
}

:where(.loaded) {
  cursor: default;
  visibility: hidden;
}

:where(.loaded) * {
  visibility: visible;
  opacity: 1;
}

:where(.loaded):where(.fade-animation) * {
  transition: opacity 0.4s linear;
}

:where(.avatar) {
  height: 2.5rem;
  width: 2.5rem;
}

:where(.image) {
  height: 6rem;
  width: 6rem;
}

:where(.button) {
  height: 2.5rem;
  width: 6rem;
}

:where(.fit) {
  height: fit-content;
  width: fit-content;
}

:where(.pulse) {
  animation: pulse 1.4s infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

:where(.wave) {
  animation: wave 3.2s infinite linear;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    var(--pui-skeleton-wave-start-color) 0%,
    var(--pui-skeleton-wave-middle-color) 50%,
    var(--pui-skeleton-wave-start-color) 100%
  );
}

@media (prefers-reduced-motion) {
  :where(.pulse) {
    animation-duration: 3s;
  }

  :where(.wave) {
    animation-duration: 7s;
  }

  :where(.fade-animation) * {
    transition-duration: 1.2s;
  }
}

@keyframes wave {
  from {
    background-position-x: 300%;
  }

  to {
    background-position-x: 0%;
  }
}

.radius-xs {
  border-radius: 0.25rem;
}

.radius-sm {
  border-radius: 0.5rem;
}

.radius-md {
  border-radius: 0.75rem;
}

.radius-lg {
  border-radius: 1rem;
}

.radius-xl {
  border-radius: 1.75rem;
}

.radius-full {
  border-radius: 3rem;
}

.radius-round {
  border-radius: 50%;
}

.radius-none {
  border-radius: 0rem;
}
