.btn {
  background: none;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary);
  cursor: pointer;
  font-size: 0.625em;
  padding: 0.25rem;
}

.btn:active {
  background-color: var(--primary-bg-dark);
}

.playing path:nth-of-type(2) {
  animation: 1.2s shrink ease-in-out 0.25s infinite;
}

.playing path:first-of-type {
  animation: 1.2s shrink ease-in-out infinite;
}

@keyframes shrink {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateX(-10%) translateY(10%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}
