.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  animation: var(--animation-fadein);
}

.sentence {
  margin-block: 2rem auto;
}
