.action-btns {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  margin-block: auto 0.5rem;
  padding-block-start: 1rem;
  position: sticky;
  bottom: 1.5rem;
  width: 100%;
}
