.action-btns {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  /* margin-block-start: auto; */
  padding-block: 1rem;
  /* position: sticky;
  bottom: 1rem; */
  width: 100%;
}

.apple-pwa {
  padding-block-end: var(--apple-pwa-pd, 1.25rem);
}
