.nav-item {
  height: 100%;
  width: 50%;
  animation: var(--animation-fadein);
}

.nav-item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
}

.nav-item > a,
.nav-item > a:visited {
  color: var(--primary-darker);
}

.nav-item > a,
.nav-item > a:hover,
.nav-item > a:focus,
.nav-item > a:active {
  text-decoration: none;
}

.nav-item:not(.current) > a:active {
  background-color: var(--primary-container);
  color: var(--primary-dark);
}

.nav-item > a > span {
  padding: 0.375rem;
}

.current > a > span,
.current > a:visited > span {
  color: var(--on-primary-container);
}

.current > a > span {
  background-color: var(--primary-container);
  border-radius: 0.375rem;
}
