/* .nav-item {
  height: 100%;
  width: 50%;
  animation: var(--animations-fade-in);
}

.nav-item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
}

.nav-item > a,
.nav-item > a:visited {
  color: var(--black);
}

.nav-item > a,
.nav-item > a:hover,
.nav-item > a:focus,
.nav-item > a:active {
  text-decoration: none;
}

.nav-item:not(.current) > a:active > span {
  background-color: var(--background-dark);
  color: var(--black-dark);
}

.nav-item > a > span {
  border-radius: 0.375rem;
  padding: 0.375rem;
}

.current > a > span,
.current > a:visited > span {
  color: var(--black-dark);
}

.current > a > span {
  background-color: var(--background-dark);
} */
