/* .article > h1 {
  color: var(--text);
}

.article > h1 > span {
  color: var(--primary);
}

.article li > span {
  font-weight: bold;
}

.article p,
.article li {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-block: 1rem;
}

.article ol,
.article ul {
  padding-inline-start: 1rem;
}

.article a {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

.article a,
.article a:visited {
  color: var(--primary);
}

.article a,
.article a:hover,
.article a:focus,
.article a:active {
  text-decoration: none;
} */
